div{
    height: 200px ;
    width: 200px;
  }
  p{
    margin: 0;
    font-size: 20px;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .first{
    background-color: cadetblue;
    padding: 20px;
    border: 10px solid black;
  }
  .second{
    background-color: gold;
    border: solid black;
    border-width: 20px 10px;
    margin-left: 260px;
  }
  .third{
    background-color: indianred;
    border: 10px solid black;
    margin-left: 40px;
  }